
.icon-webuser:before { content: '\e800'; } /* '' */
.icon-webhome:before { content: '\e801'; } /* '' */
.icon-webhome-outline:before { content: '\e802'; } /* '' */
.icon-webuser-outline:before { content: '\e803'; } /* '' */
.icon-webuser-1:before { content: '\e804'; } /* '' */
.icon-webusers:before { content: '\e805'; } /* '' */
.icon-webuser-add-outline:before { content: '\e806'; } /* '' */
.icon-webuser-add:before { content: '\e807'; } /* '' */
.icon-webuser-2:before { content: '\e808'; } /* '' */
.icon-webuser-3:before { content: '\e809'; } /* '' */
.icon-webhome-1:before { content: '\e80a'; } /* '' */
.icon-webwrench:before { content: '\e80b'; } /* '' */
.icon-webthumbs-down:before { content: '\e80c'; } /* '' */
.icon-webthumbs-up:before { content: '\e80d'; } /* '' */
.icon-webcollege:before { content: '\e80e'; } /* '' */
.icon-webtorso:before { content: '\e80f'; } /* '' */
.icon-webbriefcase:before { content: '\e810'; } /* '' */
.icon-webpencil:before { content: '\e811'; } /* '' */
.icon-webhome-2:before { content: '\e812'; } /* '' */
.icon-weblock:before { content: '\e813'; } /* '' */
.icon-weblock-open:before { content: '\e814'; } /* '' */
.icon-weblock-open-alt:before { content: '\e815'; } /* '' */
.icon-weblock-circled:before { content: '\e816'; } /* '' */
.icon-webdownload-alt:before { content: '\e817'; } /* '' */
.icon-webcommerical-building:before { content: '\e818'; } /* '' */
.icon-webminefield:before { content: '\e819'; } /* '' */
.icon-webwarehouse:before { content: '\e81a'; } /* '' */
.icon-webtown-hall:before { content: '\e81b'; } /* '' */
.icon-webbook:before { content: '\e81c'; } /* '' */
.icon-webbook-open:before { content: '\e81d'; } /* '' */
.icon-webmap:before { content: '\e81e'; } /* '' */
.icon-weblocation:before { content: '\e81f'; } /* '' */
.icon-webhome-3:before { content: '\e820'; } /* '' */
.icon-webbank:before { content: '\e821'; } /* '' */
.icon-webgraduation-cap:before { content: '\e822'; } /* '' */
.icon-webuser-4:before { content: '\e823'; } /* '' */
.icon-webuser-secret:before { content: '\e824'; } /* '' */
.icon-webhome-4:before { content: '\e825'; } /* '' */